body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
    padding: 20px;
}

#login {
    font-family: 'Open Sans', 'sans-serif';
    height: 100%;
    text-align: center;
}

#form_login {
    width: 33%;
    padding: 15px;
    margin: 0 auto;
}

#logo {
    width: 72px;
}

#logo_header {
    width: 35px;
    display: block;
    float: left;
    margin-right: 1em;
}

.center {
    display: block;
    margin: 0 auto;
}

#h1-header {
    display: inline;
    font-size: 1.5em;
}

#email {
    font-size: 1.5em;
}

#mdp {
    font-size: 1.5em;
}

#menu_utilisateur_header {
    display: block;
    float: right;
}

.menu_item {
    font-size: 75%;
    text-align: center;
}

i {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#pied {
    margin-top: 3em;
}

.form_new_user {
    width: 20em;
}