body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
    padding: 20px;
}

#login {
    font-family: 'Open Sans', 'sans-serif';
    height: 100%;
    text-align: center;
}

#form_login {
    width: 33%;
    padding: 15px;
    margin: 0 auto;
}

#logo {
    width: 72px;
}

#logo_header {
    width: 35px;
    display: block;
    float: left;
    margin-right: 1em;
}

.center {
    display: block;
    margin: 0 auto;
}

#h1-header {
    display: inline;
    font-size: 1.5em;
}

#email {
    font-size: 1.5em;
}

#mdp {
    font-size: 1.5em;
}

#menu_utilisateur_header {
    display: block;
    float: right;
}

.menu_item {
    font-size: 75%;
    text-align: center;
}

i {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#pied {
    margin-top: 3em;
}

.form_new_user {
    width: 20em;
}

.titre {
    text-align: center;
}

.contenu-principal {
    width: 95%;
    margin: auto;   
}

#summary {
    width: 50%;
    margin: 0 auto;
}

.saisie {
    width: 95%;
    margin: auto;
    padding: 1%;
    margin-bottom: 2%;
}

.instruction {
    font-weight: bold;
}

.inp {
    width: 100%;
    height: 33vh;
    border: solid 1px #aaa;
    border-radius: 2px;
    font-family: monospace;
}

.inp-rep{
width: 100%;
height: 10vh;
border: solid 1px #aaa;
border-radius: 2px;
font-family: monospace;
}

.div-rendu {
    padding-bottom: 1%;
    padding-top: 1%;
}

#div-rendu {
    display: inline-block;
    border: solid 1px #aaa;
    border-radius: 2px;
    width: 100%;
    height: auto;
    min-height: 25vh;
    background-color: white;
    padding: 2%;
}

#rendu-img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

#repA {
    height: fit-content;
}

#repB {
    height: fit-content;
}

#repC {
    height: fit-content;
}

#repD {
    height: fit-content;
}

#repE {
    height: fit-content;
}

#bouton_efface {
    margin-left: 1%;
}